node_modules
dist
build
out
.next
.turbo
coverage
generated
pnpm-lock.yaml
playwright-report
test-results
infra/docker/volumes
apps/api-core/generated
packages/config-next/index.js
packages/config-next/index.d.ts
CHANGELOG.md
